<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<a class="navbar-brand" href="{% url 'problem:problemList' %}">聚合OnlineJudge</a>
	</div>
	<div>
		<ul class="nav navbar-nav">
{#			<li><a href="#">探索</a></li>#}
			<li><a href="{% url 'problem:problemList' %}">题库</a></li>
            <li><a href="{% url 'account:upload_file' %}">图床</a></li>
            <li><a>评测广场</a></li>
{#            <li><a href="{% url 'account:classrecode' %}">上课记录</a></li>#}
            <li>
                <form class="form-inline my-2 my-lg-0" role="search" method="POST" action="{% url 'problem:search' %}" target="_blank">
                    {% csrf_token %}
                    <div class="input-group">
                    <input type="text" class="form-control" name="keyword" placeholder="题目搜索">
                    <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">搜索</button>
                    </span>
                    </div><!-- /input-group -->
                </form>
            </li>
		</ul>

        {#% 登陆成功 %#}
        {% if user.is_authenticated %}
        <ul class='nav navbar-nav navbar-right'>
{#            <li class="dropdown">#}
{#				<a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#					通知#}
{#					<b class="caret"></b>#}
{#				</a>#}
{#				<ul class="dropdown-menu">#}
{#					<li><a href="#">比赛通知</a></li>#}
{#					<li><a href="#">消息通知</a></li>#}
{#					<li><a href="#">好友申请</a></li>#}
{#				</ul>#}
{#			</li>#}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    你好( {{ user.username }} )
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
{#                    <li><a>我的收藏</a></li>#}
{#                    <li><a href="{% url 'account:show_user_notes' %}">我的笔记本</a></li>#}
                    <li><a href="{% url 'account:submit_record' %}">我的提交记录</a></li>
                    <li><a href="{% url 'account:profile' %}">个人信息</a></li>

{#                    <li><a>我的题解</a></li>#}
{#                    <li><a href="{% url 'account:classrecode' %}">上课记录</a></li>#}
                    <li><a href="{% url 'account:logout' %}">退出</a></li>
                </ul>
            </li>

        </ul>
        {% else %}
        {#% 登陆成功 %#}
        {# 未登录 #}
        <ul class='nav navbar-nav navbar-right'>
            <li><a href="{% url 'account:login' %}">登陆</a></li>
            <li><a href="{% url 'account:register' %}">注册</a></li>
        </ul>
        {% endif %}
        {# 未登录 #}


	</div>
	</div>
</nav>